<header class='js-header c-header'>
  <div class='o-grid o-grid--center'>
    <div class='o-grid__col o-grid__col--3-4-s o-grid__col--3-4-m o-grid__col--1-3-l'>
    <a href='{{ @site.url }}' class='c-logo'>
      <span class='u-hidden-visually'>{{ @site.title }}</span>
    </a>
    </div>

    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-3-l'>
      <nav class='c-nav-wrap'>
        <ul class='c-nav o-plain-list'>
          {{ navigation }}
          {{#if @labs.members}}
            {{#if @member}}
              <li class='c-nav__item'><a href='/account/' class='c-nav__link'>{{t 'Account' }}</a></li>
              <li class='c-nav__item'><a href='#signout' class='c-nav__link' data-members-signout>{{t 'Log out' }}</a></li>
            {{else}}
              <li class='c-nav__item'><a href='/signin/' class='c-nav__link'>{{t 'Log in' }}</a></li>
              <li class='c-nav__item'><a href='/signup/' class='c-btn c-btn--mini c-btn--action'>{{t 'Subscribe' }}</a></li>
            {{/if}}
          {{/if}}
          <li class='c-nav__item'>
            <button class='c-nav__link c-color-mode-btn js-mode-toggle js-mode-toggle-title' title='{{t 'Enable dark mode' }}'>
              <span class='u-hidden-visually js-mode-toggle-text'>{{t 'Enable dark mode' }}</span>
              <span class='c-color-mode-btn__icon' aria-hidden='true'></span>
            </button>
          </li>
          <li class='c-nav__item'>
            <a href='#' class='toggle-search-button js-search-toggle' aria-label='{{t 'Search' }}'>
              <div class='icon icon--ei-search icon--s c-nav__icon'>
                <svg class='icon__cnt'>
                  <svg viewBox='0 0 50 50'><path d='M23 36c-7.2 0-13-5.8-13-13s5.8-13 13-13 13 5.8 13 13-5.8 13-13 13zm0-24c-6.1 0-11 4.9-11 11s4.9 11 11 11 11-4.9 11-11-4.9-11-11-11z'></path><path d='M32.682 31.267l8.98 8.98-1.414 1.414-8.98-8.98z'></path></svg>
                </svg>
              </div>
            </a>
          </li>
        </ul>
      </nav>
      <div class='js-nav-toggle c-nav-toggle'>
        <span class='c-nav-toggle__icon'></span>
      </div>
    </div>
  </div>
</header>

{{> search-form }}