<aside class='c-post-upgrade-cta'>
  {{#if @member}}
    <h4 class='c-post-upgrade-cta__title'>{{t 'This page is for paying subscribers only'}}</h4>
  {{else}}
    <h4 class='c-post-upgrade-cta__title'>{{t 'This page is for subscribers only'}}</h4>
  {{/if}}

  <a class='c-btn c-btn--action' href='/signup/'>{{t 'Subscribe Now'}}</a>
  <div><span class='u-type-xs'>{{t 'Already have an account?'}} <a href='/signin/' class='u-link'>{{t 'Log in'}}</a></span></div>
</aside>