<a href='{{ url }}' class='c-teaser'>
  <div class='c-teaser__content'>
    <h3 class='c-teaser__title'>{{ title }}</h3>
    <time class='c-teaser__date' datetime='{{ date format='YYYY-MM-DD' }}' title='{{ date format='DD MMMM YYYY' }}'>{{ date format='DD MMM YYYY' }}</time>
  </div>
  {{#if feature_image}}
    <div class='c-teaser__media'>
      <img class='c-teaser__image lazyload' alt='{{ title }}' data-src='{{ img_url feature_image size='sm' }}' width='88' height='88'>
    </div>
  {{/if}}
</a>