{{!< ../default}}

<div class='o-wrapper'>
  {{#if @member.paid}}
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--center o-grid__col--4-4-s o-grid__col--3-4-m o-grid__col--2-4-l'>
      <div class='c-archive'>
        <h1 class='c-archive__title'>{{t "Nice, you're a subscriber!"}}</h1>
        {{#foreach @member.subscriptions}}
        {{#if cancel_at_period_end}}
          <p class='c-archive__description u-color-error'>{{t "Your subscription will expire on" }} <span class='u-type-600'>{{ date current_period_end format="DD MMM YYYY" }}.</span></p>
        {{else}}
          <p class='c-archive__description'>{{t "You have an active {siteTitle} account with access to all posts." siteTitle=@site.title}}</p>
        {{/if}}
        {{/foreach}}
      </div>
    </div>
  </div>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--center o-grid__col--4-4-s o-grid__col--3-4-m o-grid__col--2-4-l'>
      {{#foreach @member.subscriptions}}
        <div class='o-grid u-mb-16'>
          <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--2-4-l u-mb-16'>
            <span class='u-type-uppercase u-block u-type-600 u-type-sm'>{{t 'Your email address' }}</span>
            <span class='u-type-sm'>{{ @member.email }}</span>
          </div>
          <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--2-4-l'>
            <span class='u-type-uppercase u-block u-type-600 u-type-sm'>{{t 'Your plan' }}</span>
            <span class='u-type-sm'>{{ plan.currency_symbol }}{{ price plan.amount }} {{ plan.currency }} / {{ plan.interval }}</span>
          </div>
        </div>

        <div class='o-grid'>
          <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--2-4-l u-mb-16'>
            <span class='u-type-uppercase u-block u-type-600 u-type-sm'>{{t 'Card' }}</span>
            <span class='u-type-sm'>**** **** **** {{ default_payment_card_last4 }}</span>
          </div>
          <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--2-4-l'>
            {{#if cancel_at_period_end}}
              <span class='u-type-uppercase u-block u-type-600 u-type-sm'>{{t 'Expires' }}</span>
            {{else}}
              <span class='u-type-uppercase u-block u-type-600 u-type-sm'>{{t 'Next bill date' }}</span>
            {{/if}}
            <span class='u-type-sm'>{{ date current_period_end format="DD.MMM.YYYY" }}</span>
          </div>
        </div>

        <hr class='seperator'>

        <div class='o-grid'>
          <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--2-4-l u-mb-16'>
            <a class='c-btn c-btn--full c-btn--small c-btn--light' href='javascript:'
                  data-members-edit-billing
                  data-members-success='/account/?stripe=billing-update-success'
                  data-members-cancel='/account/?stripe=billing-update-cancel'>{{t 'Edit billing info'}}</a>
          </div>
          <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--2-4-l'>
            {{#if cancel_at_period_end}}
              {{cancel_link
                class='c-btn c-btn--full c-btn--small c-btn--action'
                errorClass='u-alert u-alert--error u-mt-16 u-block'
              }}
            {{else}}
              {{cancel_link
                class='c-btn c-btn--full c-btn--small'
                errorClass='u-alert u-alert--error u-mt-16 u-block'
              }}
            {{/if}}
          </div>
        </div>
      {{/foreach}}
    </div>
  </div>

  {{else if @member}}
    <div class='o-grid'>
      <div class='o-grid__col o-grid__col--center o-grid__col--4-4-s o-grid__col--3-4-m o-grid__col--2-4-l'>
        <div class='c-archive'>
          <h1 class='c-archive__title'>{{t "You're a subscriber to free members updates"}}</h1>
          <p class='c-archive__description'>{{t "You are subscribed to free updates from {siteTitle}, but don't have a paid subscription to read all the posts." siteTitle=@site.title}}</p>
          <hr>
          <p><a class='c-btn c-btn--action' href='/signup/'>{{t 'Subscribe Now'}}</a></p>
        </div>
      </div>
    </div>

  {{else}}
    {{!-- Not logged in: Redirect to signin --}}
    <script>window.location = '{{@site.url}}/signin/';</script>
  {{/if}}
</div>